#container {
  margin-top: 10rem;
  height: auto;
  margin-bottom: 10rem;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.vidBg {
  margin-bottom: 20px;
  overflow: hidden;
  width: 60%;
}

video {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
  /* border-radius: 25px; */
}
.description {
  max-width: 80%;
}

.video:hover {
  transform: scale(1.1);
}

@media (min-width: 1150px) {
  #container {
    margin-left: 6rem;
    margin-right: 2rem;
  }
  .head {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 90%;
    height: auto;
  }

  .vidBg {
    margin-bottom: 0;
    margin-right: 3em;
    flex: 1;
    max-width: 50%;
  }

  .description {
    flex: 1;
    text-align: justify;
    margin-right: 3em;
    max-width: 50%;
  }
}
