@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500&family=Gentium+Plus&family=Kdam+Thmor+Pro&family=Lato:wght@700&family=Roboto:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Gentium Plus", serif;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
